@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 15px 100px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}